apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins
  annotations:
    gethomepage.dev/description: Jenkins CI/CD Server
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: CI/CD
    gethomepage.dev/icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/jenkins.webp
    gethomepage.dev/name: Jenkins
spec:
  rules:
    - host: jenkins.localhost
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: jenkins
              port:
                number: 8080