datasources:
  h2:
    url: jdbc:h2:file:/app/storage/h2db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""
    driverClassName: org.h2.Driver

kestra:
  # Uncomment to enable AI features
  # ai:
  #   type: "gemini"
  #   gemini:
  #     api-key: "${GEMINI_API_KEY}"
  #     model-name: gemini-2.5-flash
  tutorialFlows:
    enabled: false
  server:
    basicAuth:
      enabled: false
  storage:
    type: local
    local:
      basePath: "/app/storage"
  queue:
    type: h2
  repository:
    type: h2

  tasks:
    tmpDir:
      path: /tmp/kestra-wd/tmp
  url: http://0.0.0.0:8080/
