# =========================
# Alerting: OFF
# =========================
alertmanager:
  enabled: false

# =========================
# Prometheus: ON
# =========================
prometheus:
  enabled: true
  prometheusSpec:
    replicas: 1
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false

# =========================
# Grafana: ON
# =========================
grafana:
  enabled: true
  defaultDashboardsEnabled: false
  sidecar:
    dashboards:
      enabled: false
    datasources:
      enabled: true

# =========================
# Node Exporter: ON
# =========================
nodeExporter:
  enabled: true

# =========================
# kube-state-metrics: ON (required)
# =========================
kubeStateMetrics:
  enabled: true

# =========================
# Default rules: OFF
# =========================
defaultRules:
  create: false

# =========================
# Kubernetes control-plane metrics: OFF
# =========================
kubeApiServer:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

kubeEtcd:
  enabled: false

coreDns:
  enabled: false


prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
